RewriteEngine On
RewriteCond %{REQUEST_METHOD} ^TRACE
RewriteCond %{HTTP:range} !(^bytes=[^,]+(,[^,]+){0,4}$|^$)
RewriteRule .* - [F]

RewriteRule ^drdoom.html$ drdoom.php [L]
RewriteRule ^npc.html$ npc.php [L]
RewriteRule ^vatpham/([0-9]*)$ vatpham/?id=$1 [L]